.createButton {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.createButton:hover {
  background-color: #45a049;
}

.board {
  max-width: 1200px; /* 넓이 조정 */
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 반응형 그리드 스타일 */
.posts {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* 반응형 그리드, 컬럼의 최소 크기 조정 */
  gap: 20px;
}
/* 개별 게시물 스타일 */
.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  background-color: white;
  overflow: hidden; /* 이미지가 컨테이너를 넘어가지 않도록 설정 */
  transition: transform 0.3s ease-in-out;
}

.post:hover {
  transform: scale(1.05); /* 마우스 호버시 스케일 증가 */
}

.post a {
  text-decoration: none;
  color: inherit;
}

/* 이미지 스타일 */
.postImage {
  width: 100%; /* 컨테이너 너비에 맞게 */
  object-fit: cover; /* 변경 */
  height: 200px; /* 추가: 명시적 높이 설정 */
  border-radius: 4px;
  transition: opacity 0.3s ease;
}

.post-image:hover {
  opacity: 0.8;
}

/* 게시물 정보 스타일 */
.postInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.title {
  margin: 10px 0 5px;
  color: #333;
  font-size: 1.2em;
}

.writer,
.likes,
.views {
  margin: 5px 0;
  color: #666;
  font-size: 0.9em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.greenColor {
  color: #4caf50;
}

.redColor {
  color: #f44336;
}

.yellowColor {
  color: #c5b632;
}

.PostInfosWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 0.8rem;
}

/* 페이지네이션 스타일 */
.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pageArrow {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  color: #007bff;
}

.pageArrow:disabled {
  color: #ccc;
}

.pageNumber {
  background-color: transparent;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  color: #007bff;
}

.pageNumber:hover,
.activePage {
  background-color: #007bff;
  color: white;
}

/* 글 작성 버튼 및 검색 영역 스타일 */
.searchAndCreate {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

/* 로그인 알림 스타일 */
.loginAlert {
  color: red;
  animation: fadeInOut 3s ease-in-out;
}

/* 미디어 쿼리를 사용하여 화면 크기에 따른 스타일 조정 */
@media (max-width: 768px) {
  .posts {
    grid-template-columns: repeat(2, 1fr); /* 화면이 작을 때 2열로 표시 */
  }

  .post {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .posts {
    grid-template-columns: 1fr; /* 가장 작은 화면에서는 1열로 표시 */
  }
}
