.modifyForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* 상단에서 시작 */
  margin: 0 auto; /* 중앙 정렬 */
  width: 80%; /* 전체 너비의 80%만 사용 */
  max-width: 800px;
  min-height: 100vh; /* 최소 높이를 화면 크기에 맞춤 */
  margin-bottom: 50px; /* Footer와의 간격 유지 */
}

.modifyHeader {
  margin-top: 0;
  position: relative;
}

.backButton {
  position: absolute;
  top: 30%;
  left: -200%;
  border: none;
  background-color: transparent;
  color: #3bdd3b;
  cursor: pointer;
  font-size: 2rem;
}

.heading {
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
  margin: 1rem 0 1rem 0;
}

.form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 80%;
}

.inputContainer {
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
  box-sizing: border-box;
}

.input:focus {
  /* Create의 .input:focus와 유사하게 스타일링 */
  box-shadow: 0 0 0 2px #007aff;
  transition: box-shadow 0.3s;
}

.textarea {
  /* Create의 .textarea와 유사하게 스타일링 */
  width: 100%;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
  box-sizing: border-box;
  resize: vertical;
  height: 400px;
}

.submitButton {
  /* Create의 .submitButton과 유사하게 스타일링 */
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  width: 100%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover {
  /* Create의 .submitButton:hover와 유사하게 스타일링 */
  background-color: #0056b3;
}

.imagePreviewContainer {
  /* Create의 .imagePreviewContainer와 유사하게 스타일링 */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.imagePreview {
  /* Create의 .imagePreview와 유사하게 스타일링 */
  position: relative;
  width: 100px;
  height: 100px;
}

.image {
  /* Create의 .image와 유사하게 스타일링 */
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.removeButton {
  /* Create의 .removeButton과 유사하게 스타일링 */
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: red;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}

.animate {
  /* Create의 .animate와 유사하게 애니메이션 적용 */
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
